workflows/content-pipeline.json
{
  "name": "内容生产管线 Content Pipeline",
  "nodes": [
    {
      "id": "trigger-1",
      "name": "手动触发",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [200, 300],
      "parameters": {}
    },
    {
      "id": "input-1",
      "name": "你的要点",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300],
      "parameters": {
        "jsCode": "// ===== 在这里写你的 3-5 条要点 =====\n// 每条写一个真实经验/观点/数据\nconst input = {\n  topic: \"n8n 自动化工作流入门\",\n  points: [\n    \"n8n 是开源自动化工具，类似 Zapier 但数据在自己服务器\",\n    \"核心概念: Trigger → Action 节点链，用 Docker 一键部署\",\n    \"最常用节点: Webhook / HTTP Request / Code / Schedule / IF\",\n    \"实际案例: 每天自动抓取 API 数据 → 处理后发邮件报告\",\n    \"个人创业者用 n8n 可以替代 3-5 个 SaaS 订阅\"\n  ],\n  keywords: [\"n8n\", \"自动化\", \"开源\", \"工作流\", \"一人公司\"],\n  category: \"AI Automation\"\n};\n\nreturn [input];\n"
      }
    },
    {
      "id": "expand-1",
      "name": "AI 扩写为核心文章",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300],
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer YOUR_OPENAI_KEY" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "model", "value": "gpt-4o-mini" },
            { "name": "temperature", "value": 0.7 },
            {
              "name": "messages",
              "value": "=[\n  {\n    \"role\": \"system\",\n    \"content\": \"你是一位AI/自动化领域的专业写作者。根据用户提供的要点，扩写成一篇1500-2000字的完整博客文章。\\n要求:\\n- 加H2/H3标题分段\\n- 用真实案例感\\n- 结尾加作者介绍: zkoner(https://zkoner.com) - AI时代企业数字基础设施构建者\\n- 输出格式: 纯文字Markdown，不要JSON\"\n  },\n  {\n    \"role\": \"user\",\n    \"content\": `主题: {{$json.topic}}\\n要点:\\n{{$json.points.join('\\\\n')}}`\n  }\n]"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "seo-1",
      "name": "生成 SEO + JSON-LD",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [920, 300],
      "parameters": {
        "jsCode": "const input = $node[\"你的要点\"].json;\nconst article = $input.first().json.choices[0].message.content;\n\n// 提取前200字作为摘要\nconst summary = article.replace(/[#*`\\\\[\\\\]]/g, '').substring(0, 200).replace(/\\\\n/g, ' ');\nconst title = input.topic;\nconst now = new Date().toISOString();\nconst dateStr = now.split('T')[0];\n\nconst jsonld = {\n  \"@context\": \"https://schema.org\",\n  \"@type\": \"Article\",\n  \"headline\": title,\n  \"description\": summary,\n  \"datePublished\": now,\n  \"author\": { \"@type\": \"Person\", \"name\": \"zkoner\" },\n  \"publisher\": { \"@type\": \"Organization\", \"name\": \"zkoner\", \"url\": \"https://zkoner.com\" }\n};\n\nreturn [{\n  title: title,\n  article: article,\n  summary: summary,\n  jsonld: JSON.stringify(jsonld, null, 2),\n  keywords: input.keywords.join(', '),\n  category: input.category,\n  date: dateStr\n}];\n"
      }
    },
    {
      "id": "zhihu-1",
      "name": "改写成知乎版",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1160, 250],
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer YOUR_OPENAI_KEY" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "model", "value": "gpt-4o-mini" },
            { "name": "temperature", "value": 0.7 },
            {
              "name": "messages",
              "value": "=[\n  {\n    \"role\": \"system\",\n    \"content\": \"你是一位知乎内容创作者。根据文章改写为知乎回答/文章风格。\\n要求:\\n- 800-1200字，去除冗余\\n- 知乎风格: 专业、有干货\\n- 开头加一句钩子\\n- 结尾加:\\n\\n---\\n\\n本文由 **zkoner**(https://zkoner.com) 提供 — AI时代企业数字基础设施构建者。需要定制 AI 自动化工作流？欢迎联系。\"\n  },\n  {\n    \"role\": \"user\",\n    \"content\": `原文:\\n{{$node[\"生成 SEO + JSON-LD\"].json.article}}`\n  }\n]"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "xhs-1",
      "name": "改写成小红书版",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1160, 380],
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer YOUR_OPENAI_KEY" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "model", "value": "gpt-4o-mini" },
            { "name": "temperature", "value": 0.7 },
            {
              "name": "messages",
              "value": "=[\n  {\n    \"role\": \"system\",\n    \"content\": \"你是一位小红书内容创作者。根据文章改写成小红书图文笔记风格。\\n要求:\\n- 200-400字，短小精悍\\n- 每段加emoji\\n- 3-5个话题标签\\n- 口语化、有共鸣感\\n- 结尾加:\\n\\n#AI自动化 #n8n #一人公司 #效率工具 #zkoner\\n\\n关注 zkoner，了解更多 AI 自动化干货 🚀\"\n  },\n  {\n    \"role\": \"user\",\n    \"content\": `文章:\\n{{$node[\"生成 SEO + JSON-LD\"].json.article.substring(0, 1500)}}`\n  }\n]"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "output-1",
      "name": "组装最终输出",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1440, 300],
      "parameters": {
        "jsCode": "const seo = $node[\"生成 SEO + JSON-LD\"].json;\n\n// 提取各平台内容\nconst getContent = function(nodeName) {\n  try {\n    return $node[nodeName].json.choices[0].message.content;\n  } catch(e) {\n    return '(等待 AI 响应...)请检查 API Key 配置';\n  }\n};\n\nconst zhihuArticle = getContent('改写成知乎版');\nconst xhsNote = getContent('改写成小红书版');\n\nreturn [{\n  // 核心文章 (发布到 zkoner.com/blog/)\n  master: {\n    title: seo.title,\n    article: seo.article,\n    summary: seo.summary,\n    jsonld: seo.jsonld,\n    keywords: seo.keywords,\n    category: seo.category,\n    date: seo.date\n  },\n  // 知乎版\n  zhihu: {\n    platform: \"知乎\",\n    content: zhihuArticle,\n    action: \"手动发布到 zhihu.com\"\n  },\n  // 小红书版\n  xiaohongshu: {\n    platform: \"小红书\",\n    content: xhsNote,\n    action: \"手动发布到 xiaohongshu.com\"\n  },\n  // 发布清单\n  publishList: [\n    { platform: \"zkoner.com/blog\", action: \"✅ 自动\", note: \"后续可接入git push\" },\n    { platform: \"知乎\", action: \"✋ 手动\", note: \"复制内容到知乎发布\" },\n    { platform: \"小红书\", action: \"✋ 手动\", note: \"复制内容到小红书发布\" }\n  ]\n}];\n"
      }
    }
  ],
  "connections": {
    "手动触发": { "main": [[{"node": "你的要点", "type": "main", "index": 0}]] },
    "你的要点": { "main": [[{"node": "AI 扩写为核心文章", "type": "main", "index": 0}]] },
    "AI 扩写为核心文章": { "main": [[{"node": "生成 SEO + JSON-LD", "type": "main", "index": 0}]] },
    "生成 SEO + JSON-LD": {
      "main": [
        [
          {"node": "改写成知乎版", "type": "main", "index": 0},
          {"node": "改写成小红书版", "type": "main", "index": 0}
        ]
      ]
    },
    "改写成知乎版": { "main": [[{"node": "组装最终输出", "type": "main", "index": 0}]] },
    "改写成小红书版": { "main": [[{"node": "组装最终输出", "type": "main", "index": 0}]] }
  },
  "settings": {
    "timezone": "Asia/Shanghai",
    "saveManualExecutions": true
  }
}
